<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.voxgest.dryrun.fsl.FslExperimentalActivity"
            android:exported="true"
            android:label="VoxGest Experimental FSL" />
    </application>
</manifest>
